/* style index */
body{
    margin-top: 100px;
}
.jumbotron{
    background-color: white;
}
.jumbotron .container .row a{
    background-color: #5605A7;
    color: white;
    border-radius: 30px;
}
.informasi{
    min-height: 700px;
    color: #5605A7;
}
.informasi img{
    width: 300px;
    height: 450px;
}
nav{
    background-color: #5605A7;
}
.navbar-brand .row .col{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
@media only screen and (min-width:991px){
    .informasi .section2{
        margin-top: -6em;
        margin-left: 5em;
    }
    .navbar ul li a{
        text-align: center;
        background-color: white;
        margin-right: 3px;
        color:#5605A7!important;
        border-radius: 30px;
    }
    .navbar ul li a .iconify{
        font-size: large;
        margin-right: 3px;
    }
    #MyProfile{
        display: none;
    }
}
@media only screen and (max-width:991px){
    body{
        margin-top: 100px;
    }
    .navbar ul li a .iconify{
        display: none;
    }
    .navbar ul li a{
        color: white!important;
    }
    .navbar ul li a:hover{
        color: black!important;
    }
    .jumbotron .row h1{
        font-size: large;
    }
    .jumbotron .row p{
        font-size: small;
    }
    .jumbotron .container a{
        font-size: medium;
    }
    .informasi .container .row .col-lg-6,.informasi .container .section2 .col-lg-5{
        font-size: x-small;
    }
}
/* akhir style index */

/* style dashboard */

.dataInfo{
    min-height: 500px;
}
.dataInfo .container{
    background-color: #EDE4F5;
    border-radius: 30px;
}
.dataInfo .row #papanData{
    background-color: whitesmoke;
}
.dataInfo .row .row{
    font-size: small;
}
.dataInfo .container .row .col-md-8 .row{
    font-size: small;
}
#zona_aman{
    background-color: #D9FDD7;
}
#zona_siaga{
    background-color: #F6FFBB;
}
#zona_bahaya{
    background-color: #FDCAD3;
}
#zona_aman,#zona_siaga{
    margin-right: 10px;
}
#zona_aman hr,#zona_siaga hr,#zona_bahaya hr{
    border-top: 2px solid black;
}
#zona_aman,#zona_siaga,#zona_bahaya{
    border-radius: 20px;
    min-height: 300px;
}
/* akhir style dashboard */
